
body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.dark-mode {
  background-color: #333333;
  color: #FFFFFF;
}

.light-mode {
  background-color: #FFFFFF;
  color: #000000;
}
